@import "tailwindcss";


.floating-text {
    position: absolute;
    animation: float-and-fade 2s ease-out;
    pointer-events: none;
}

@keyframes float-and-fade {
    0% {
        opacity: 1;
        transform: translateY(-40px);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}